.input {
    border: none;
    border-bottom: 1px solid #97A9BA;
    color: #97A9BA;
    font-size: 14px;
    line-height: 18px;
    // padding: 15px 10px;
    // margin-bottom: 40px;
    padding: 15px 0;
    width: 100%;
}