.count {
    background-color: #387BB9;
    border-radius: 50%;
    position: absolute;
      right: 10px;
      bottom: -2px;
      font-weight: 400;
      font-size: 6px;
      line-height: 8px;
      color: #F5F8FA;
      padding: 3px 4px;
    
  }