.block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    &_input {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }
    input {
        margin-bottom: 0;
    }
}