@import '../PageHome/PerfectSet/breakpoints.scss';
@import '../PageHome/PerfectSet/variables.scss';

.page {
  &__wrapper {
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 2fr 2fr 1.5fr;
    gap: 50px;
    align-items: flex-end;

    @include for-large-up {
      gap: 20px;
    }

    @include for-medium-up {
    }
    @include for-small-up {
      grid-template-columns: 1fr;
      .last {
        display: none;
      }
    }
  }

  &__content {
    text-align: center;
  }
  &__title {
    margin-bottom: 80px;

    @include for-large-up {
      margin-bottom: 40px;
    }
    @include for-medium-up {
      margin-bottom: 10px;
    }
  }
  &__text {
    margin-bottom: 48px;

    @include for-large-up {
      margin-bottom: 24px;
    }
    @include for-medium-up {
      margin-bottom: 6px;
    }
  }

  &__img {
    position: relative;
    padding: 30% 0 85% 0;
  }
  &__img img {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__button {
    text-align: center;
  }
  &__text_heart {
    color: #ee0c0c;
  }
}
